<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Students</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Students</li>
        </ul>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <!--   <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
     --> <a routerLink="/students/students-add" class="btn btn-primary"><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">

      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-hover table-center mb-0 datatable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Medical Problem</th>
                  <th>Mobile Number</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let students of lstStudents;let i = index">
                  <td>DC{{students.id}}</td>
                  <td>
                    <h2 class="table-avatar">
                      <!-- <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/avatar-0{{i+ 1}}.jpg" alt="User Image"></a>
                     --> <a href="student-details.html">{{students.name}}</a>
                    </h2>
                  </td>
                  <td>{{students.age}}</td>
                  <!--<td>{{students.medprblm}}</td>
                  -->
                  <td *ngIf="students.medprblm == null;then Block1 else Block2"></td>
                  <ng-template #Block1>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="badge rounded-pill bg-danger text-light">No</span>
                  </ng-template>
                  <ng-template #Block2>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="badge rounded-pill bg-info text-light">Yes</span>
                  </ng-template>

                  <td>{{students.mobileNumber}}</td>
                  <td>{{students.type}}</td>
                  <td *ngIf="students.is_active==0; then thenBlock else elseBlock"></td>
                  <ng-template #thenBlock>

                    <button type="button" class="btn btn-warning active btn-sm"
                      (click)="openModal(editProfileModal,students)">Unapproved</button>
                  </ng-template>
                  <ng-template #elseBlock>

                    <span class="badge rounded-pill bg-info text-light">Approved</span>
                  </ng-template>

                  <!--td *ngIf="students.is_active==0">Approve</td>-->
                  <td class="text-right">
                    <div class="actions">
                      <a routerLink="/students/students-edit" [queryParams]="{id: students.id}"
                        class="btn btn-sm bg-success-light mr-2" data-toggle="tooltip" title="Edit">
                        <i class="fas fa-pen"></i>
                      </a>
                      <!--<a href="#" class="btn btn-sm bg-danger-light">
                        <i class="fas fa-trash"></i>
                      </a>-->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #editProfileModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="editProfileLabel">Approval Confirmation</h5>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <p>studentid:DC{{ modalContent.id }}
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="submit" class="btn btn-primary" (click)="modalsave(modalContent)">Yes</button>
      </div>
    </div>
  </ng-template>


</div>

<!-- Footer -->
<footer>
  <p>Copyright © 2020 Dreamguys.</p>
</footer>
<!-- /Footer -->